<div class="body-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
						  <h1 class="h3 mb-3 font-weight-normal text-center">Modifie ton profil</h1>
              <%= devise_error_messages! %>
            
               <div class="field">
                 <%= f.label :email %><br />
                 <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br /><br>
	                <p>Nouvel Email</p>
	             	<%= f.email_field :email, autocomplete: "new-email" %>
               </div>
          
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
						  <br>
            
               <div class="field">
                 <%= f.label :password %> <i>( <em><%= @minimum_password_length %> characters minimum</em>)</i><br />
                 <%= f.password_field :password, autocomplete: "new-password" %>
                 <% if @minimum_password_length %>
                   <br />
                 <% end %>
               </div>
										<br>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
									<br>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>
						     <br>
              
                <div class="actions mt-5 mb-4">
                <%= f.submit "Update", class:"btn btn-lg btn-dark btn-block text-uppercase" %>
              </div>
               <% end %>

                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
                
                <%= link_to "Back", :back %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

