<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
    <title>Eventbrite-like</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	<header><nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-info"<%= link_to "Eventbrite-like", root_path, class: "nav-item nav-link active" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Home", root_path, class: "nav-item nav-link active" %>
			<%= link_to "New Events", new_event_path, class: "nav-item nav-link active" %>
	
			<a class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item">  </li>
          <li class="nav-item">  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"nav-link" %>
				  <li class="nav-item">  <%= link_to "Mon profil", user_path(:id => current_user.id), class:"nav-link" %></li>

        <% else %>
          <li class="nav-item"> <%= link_to "S'enregistrer", new_user_registration_path,   class:"nav-link" %> </li>
          <li class="nav-item"> <%= link_to "Se connecter", new_user_session_path, class:"nav-link" %> </li>
				<% end %> </a>
			  
    </div>
  </div>
</nav></header>
  <body>
		
    <%= yield %>
  </body>
</html>